## Description : Sentiment Analysis of Tweets fetched from Twitter using Python

In [43]:
# Import required libraries
import os
import time
import tweepy
from textblob import TextBlob
from wordcloud import WordCloud
import pandas as pd
import numpy as np
import re
import matplotlib.pyplot as plt
plt.style.use('fivethirtyeight')

In [44]:
# Load the API keys from the login credential file
log_cred = pd.read_csv("login_credentials.csv")
consumer_key = log_cred.iloc[0, 1]
consumer_secret = log_cred.iloc[1, 1]
access_token = log_cred.iloc[2, 1]
access_token_secret = log_cred.iloc[3, 1]

In [45]:
# Create the authentication object and the API object
auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_token_secret)
api = tweepy.API(auth, wait_on_rate_limit=True)

In [46]:
username = input("Enter the user's screenname: ")
count = int(input("Enter the number of tweets to be retrieved: "))
tweets = api.user_timeline(screen_name=username, count=count,tweet_mode="extended")
i = 1
for tweet in tweets[0:10]:
    print(f"{i}. {tweet.full_text}")
    i += 1

1. @Cher0tich Good example. Don't kill yourself over small small salary.
2. @Cher0tich And he doesn't ruffle feathers. Wanyama sio yake, parks sio yake, so hajistress saana.
3. American Special Forces to set up a permanent presence in Somalia.
4. @iFortknox If there is a team that can bottle it, it is Spurs.
5. Balala won Kenyan politics kitambo.
6. Tiptoes to ArsenalFansTv to learn a new cuss word. ðŸ¤£
7. One of Python's oddities.
A tuple is immutable but the operation as shown below will create a new tuple with all the four elements. ðŸ¤£ https://t.co/XIscOAOXzQ
8. @iFortknox He was too real. Maybe that's why he checked out early.
9. RT @chipro: My editors just shared with me the feedback from early reviewers and I'm in tears ðŸ˜­

With the help of so many people, I workedâ€¦
10. Sauti Sol: Copyright kasokoso.
Some Kenyan: "Na wakiapisha, (Tunaapisha)" is originally a Raila Odinga concept, so GOAL-GOAL.

Hehe.

In [48]:
# Create Dataframe of tweets
df = pd.DataFrame(data=[tweet.full_text for tweet in tweets], columns=['Tweets'])
df.head(10)

                                              Tweets
0  @Cher0tich Good example. Don't kill yourself o...
1  @Cher0tich And he doesn't ruffle feathers. Wan...
2  American Special Forces to set up a permanent ...
3  @iFortknox If there is a team that can bottle ...
4                Balala won Kenyan politics kitambo.
5  Tiptoes to ArsenalFansTv to learn a new cuss w...
6  One of Python's oddities. \nA tuple is immutab...
7  @iFortknox He was too real. Maybe that's why h...
8  RT @chipro: My editors just shared with me the...
9  Sauti Sol: Copyright kasokoso.\nSome Kenyan: "...

In [49]:
# Clean Data - Remove special characters, links, and other elements
# Create a function to clean the data
def clean_tweet(text):
    text = re.sub(r'@[A-Za-z0-9]+', '', text) # Remove @mentions
    text = re.sub(r'#', '', text) # Remove the # in #hashtag
    text = re.sub(r'RT[\s]+', '', text) # Remove RT (retweet)
    text = re.sub(r'https?:\/\/\S+', '', text) # Remove hyperlinks

    return text

In [50]:
# Apply the function to the dataframe
df['Tweets'] = df['Tweets'].apply(clean_tweet)
# Show cleaned tweets
df.head(10)

                                              Tweets
0   Good example. Don't kill yourself over small ...
1   And he doesn't ruffle feathers. Wanyama sio y...
2  American Special Forces to set up a permanent ...
3   If there is a team that can bottle it, it is ...
4                Balala won Kenyan politics kitambo.
5  Tiptoes to ArsenalFansTv to learn a new cuss w...
6  One of Python's oddities. \nA tuple is immutab...
7   He was too real. Maybe that's why he checked ...
8  : My editors just shared with me the feedback ...
9  Sauti Sol: Copyright kasokoso.\nSome Kenyan: "...